<div class="container">
  <h2>Contactez-moi</h2>

  <%= form_with model: Contact.new, url: contacts_path, method: :post, local: true do |f| %>
    <div>
      <%= f.label :name, "Nom" %>
      <%= f.text_field :name, required: true %>
    </div>
    <div>
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, required: true %>
    </div>
    <div>
      <%= f.label :message, "Message" %>
      <%= f.text_area :message, required: true %>
    </div>
    <div>
      <%= f.submit "Envoyer", class: "btn btn-primary" %>
    </div>
  <% end %>


</div>
